body{
    background-color: #dadada;
}



#container{
    position:absolute;
    top: 20vh;
    left: 25vw ;
    background-color: #dadada;
    display:flex;
    flex-direction: column;
}

#top{
    display:flex;
    width: 48vw;
    height: 12vh;
    justify-content: space-between;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.sep_row{
    width: 6.6vw;
    margin: 0.7vw;
}
#wrapper{
    position:relative;
    display:flex;
    background-color: dodgerblue;
    width: 50vw;
    height: 60vh;
    border-radius: 25px;
    justify-content: space-between;
}

.row{
    flex: 1;
    background-color: dodgerblue;
    //border-radius: 25px;
    margin: 0.75%;
    display:flex;
    flex-direction: column;
}

.circle{
    width: 80%;
    height: auto;
    margin: 6%;
    flex: 1;
    background-color: #dadada;
    border-radius: 50%;
}

.circle_brown{
    background-color: brown;
}

.circle_yellowgreen{
    background-color: yellowgreen;
}

.sep_row{
    width: 60%;
    height: auto;
    margin: 2%;
    flex: 1;
    background-color: #dadada;
    border-radius: 50%;
}

#row_0 {
    margin-left: 2%;
}

#row_6 {
    margin-right: 2%;
}

h1{
    font-size: 6vh;
    margin-top: 0;
}

h2{
    font-size: 4vh;
    margin-bottom: 0;
}

.header{
    margin-top: 5vh;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
